.all-services{
    margin-top: 50px !important;
    margin-bottom: 50px;
}

.hero-icon{
    width: 32px;
    height: 32px;
    margin-top: -7px;
}

.case-studies{
    margin-top: 100px;
}

.service-background{
    background-color: #025955;
    height: 650px;
    margin-top: 0px;
    z-index: -500;
    padding-top: 100px;
}