.review-details{
    border: 2px solid #025955;
    margin-left: -55px;
    padding-left: 80px;
    background-color: #025955;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reveiwer{
    z-index: 1;
}

.testomonial{
    padding: 100px 0px !important;
}