.f-service-background{
    background-color: #025955;
    height: 650px;
    margin-top: 0px;
    z-index: -500;
    padding: 180px;
}
.f-service-background2{
    z-index: -400;
}
.fea-service{
    z-index: 1;
}

.service-background{
    z-index: -5;
    margin-top: -275px;
    height: 350px;
}

.featured-container{
    margin-top: -250px;
}

@media (max-width: 765px) {
    .fea-service{
        margin-top: 0;
    }
}